body {
  margin: 0;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  background-attachment: fixed;
  background-color: #bfdf94;
  color: #06402B;
  font-family: Verdana;
}

.fun-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 4px;
  align-content: space-around;
}

.divider {
  display: block; 
  margin: 30px auto;
}

#main-menu {
   font-size:12px; 
   position: sticky; 
   top: 0; 
   z-index: 999;
}
#buttons-box img {
  max-width: 88px;
}

#blinkies-box img {
  max-width: 150px;
}

#stamps-box img {
  max-width: 99px;
}

#blogposts {
  width: 100%;
}